body { 
    padding: 5em; font-family: monospace; line-height: 1.5
}

div.card {
    height: 400px;
    background-repeat: no-repeat;
    width: 72px;
    height: 97px;
    display: inline-block;
}

.top-100 {
    margin-top: 100px;
}

.text-center {
    text-align: center;
}